<div class="container-sidebar transition " [ngClass]="{'cerrado-sidenav':!sidenavService.banderaPrivate,'abierto-sidenav':sidenavService.banderaPrivate}" >
    <div class="contenedor transition" >
        <div class="sidebar transition"  (mouseover)="sidenavService.banderaPrivate=true" (mouseleave)="sidenavService.banderaPrivate=false" [ngClass]="{'abierto':sidenavService.banderaPrivate}">
            <div class="row justify-content-start px-3 pt-3 pb-5" (click)="sidenavService.banderaPrivate=false">
                <div class="p-0 text-center transition delay " [ngClass]="{'col-6 transition delay':sidenavService.banderaPrivate,'col-12 transition delay':!sidenavService.banderaPrivate}"><a routerLink="/private" class="noLink"><img class="img-brand" src="assets/img/kiubit.svg"></a></div>
                <div class="p-0 transition transition delay " [ngClass]="{'col-4 d-block transition delay':sidenavService.banderaPrivate,'d-none transition delay':!sidenavService.banderaPrivate}"><a routerLink="/private" class="noLink"><div class="fw-bolder text-primary">Kiubit</div></a></div>
                <div class="p-0 transition transition delay " [ngClass]="{'col-2 d-block transition delay':sidenavService.banderaPrivate,'d-none transition delay':!sidenavService.banderaPrivate}">
                    <button type="button" class="d-block d-md-none btn btn-light btn-rounded ">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
            </div>
            <div class="row px-3 pb-3" (click)="sidenavService.banderaPrivate=false">
                <div class="p-0 text-center transition delay" [ngClass]="{'col-6 transition delay':sidenavService.banderaPrivate,'col-12 transition delay':!sidenavService.banderaPrivate}"><a routerLink="/private" class="noLink"><i class="fas fa-home text-primary"></i></a></div>
                <div class="p-0 transition delay" [ngClass]="{'col-6 d-block transition delay':sidenavService.banderaPrivate,'d-none transition delay':!sidenavService.banderaPrivate}"><a routerLink="/private" class="noLink"><div class="fw-bolder text-primary">Inicio</div></a></div>
            </div>
            <div class="row px-3 pb-3" (click)="sidenavService.banderaPrivate=false">
                <div class="p-0 text-center transition delay" [ngClass]="{'col-6 transition delay':sidenavService.banderaPrivate,'col-12 transition delay':!sidenavService.banderaPrivate}"><a routerLink="/private/avance" class="noLink"><i class="fas fa-user-graduate text-primary"></i></a></div>
                <div class="p-0 transition delay" [ngClass]="{'col-6 d-block transition delay':sidenavService.banderaPrivate,'d-none transition delay':!sidenavService.banderaPrivate}"><a routerLink="/private/avance" class="noLink"><div class="fw-bolder text-primary">Mis Avance</div></a></div>
            </div>
            <div class="row px-3 pb-3" (click)="sidenavService.banderaPrivate=false">
                <div class="p-0 text-center transition delay" [ngClass]="{'col-6 transition delay':sidenavService.banderaPrivate,'col-12 transition delay':!sidenavService.banderaPrivate}"><a routerLink="/private/cursos" class="noLink"><i class="fas fa-book text-primary"></i></a></div>
                <div class="p-0 transition delay" [ngClass]="{'col-6 d-block transition delay':sidenavService.banderaPrivate,'d-none transition delay':!sidenavService.banderaPrivate}"><a routerLink="/private/cursos" class="noLink"><div class="fw-bolder text-primary">Cursos</div></a></div>
            </div>
            <div class="row px-3 pb-3" (click)="sidenavService.banderaPrivate=false">
                <div class="p-0 text-center transition delay" [ngClass]="{'col-6 transition delay':sidenavService.banderaPrivate,'col-12 transition delay':!sidenavService.banderaPrivate}"><a (click)="logout()" class="noLink"><i class="fas fa-sign-out-alt text-primary"></i></a></div>
                <div class="p-0 transition delay" [ngClass]="{'col-6 d-block transition delay':sidenavService.banderaPrivate,'d-none transition delay':!sidenavService.banderaPrivate}"><a (click)="logout()" class="noLink"><div class="fw-bolder text-primary">Salir</div></a></div>
            </div>
        </div>
    </div>
</div>
