<!-- Footer -->
<footer class="text-center text-lg-start bg-primary text-white">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Mantente conectado en nuestras redes sociales:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Kiubit
            </h6>
            <p>
              Slogan
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              ¿Quienes Somos?
            </h6>
            <p>
              <a href="#!" class="text-reset">Nosotros</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Mision</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Vision</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Valores</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Metodologia</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Testimonios</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Social
            </h6>
            <p>
              <a href="#!" class="text-reset">Blog</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Facebook</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Instagram</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Pinterest</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Publicaciones</a>
            </p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contacto
            </h6>
            <p>
              <a href="#!" class="text-reset">Aviso de Privacidad y Términos de Uso</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Centro de Ayuda</a>
            </p>
            
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
                Contacto
            </h6>
            <p><i class="fas fa-home me-3"></i> Calle Chietla 926, Col. La Paz, Puebla,Pue.</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              kiubit@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> 2226973643</p>
            <p><i class="fas fa-phone me-3"></i> 2226973971</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://Kiubit.com/">Kiubit.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  