<div [ngStyle]="{'padding-top.px':navbarService.altura}">
    <div class="container">
        <div class="row justify-content-center m-5 ">
            <img src="https://ff636f43e6.cbaul-cdnwnd.com/e0eef4fe6f99295f30f83e561ff2c5a0/200000632-5c71c5c71e/teamwork.PNG?ph=ff636f43e6" class="img-fluid img-1">
        </div>
        <div class="row">
            <div class="text-primary text-center">
                <h1 class="fw-bolder">Conoce más sobre Kiubit</h1>
            </div>
        </div>
        <div class="row">
            <div class="fw-lighter text-parrafo">
                <p class="justify"><span class="fw-bold">Kiubit</span> es un <span class="fw-bold">Centro de Apoyo Académico</span> que brinda clases particulares y cursos de manera presencial y online para diferentes niveles académicos. Siempre estamos en pro de la mejora continua y de la inclusión digital, por lo que buscamos llevar el conocimiento a niños, jóvenes y adultos que tengan ganas de aprender y superarse de manera personal y profesional mediante la creación de diversos recursos que promuevan el aprendizaje significativo dosificando la información y promoviendo la reflexión y el autoaprendizaje.</p>
            </div>
        </div>
        <div class="row">
            <div class="text-primary text-center">
                <h1 class="fw-bolder">Misión</h1>
            </div>
        </div>
        <div class="row">
            <div class="fw-lighter text-parrafo">
                <p class="justify"><span class="fw-bold">Kiubit</span> busca desarrollar diversos materiales y herramientas que les permitan a los alumnos desarrollar un sistema de modelación de su pensamiento estratégico, crítico y creativo, a través del cual puedan abordar, analizar y solucionar diversos problemas o situaciones que se le presenten en la vida cotidiana mediante una capacitación profesional.</p>
            </div>
        </div>
        <div class="row">
            <div class="text-primary text-center">
                <h1 class="fw-bolder">Visión</h1>
            </div>
        </div>
        <div class="row">
            <div class="fw-lighter text-parrafo">
                <p class="justify">Ser uno de los mejores Centros de Apoyo Académico, ofreciendo a los alumnos las metodologías y herramientas necesarias para que logren sus objetivos y contribuyan en su formación como profesionales productivos potenciando sus habilidades a través del autoaprendizaje y el uso de las TIC´s.</p>
            </div>
        </div>
        <div class="row justify-content-center m-5 ">
            <img src="https://ff636f43e6.cbaul-cdnwnd.com/e0eef4fe6f99295f30f83e561ff2c5a0/200000635-804e2804e5/Gr%C3%A1fica%20Mapa%20Conceptual%20Circulad%20Idea%20Principal%20Profesional%20Multicolor%20%281%29.png?ph=ff636f43e6" class="img-fluid">
        </div>

        <div class="row">
            <div class="text-primary text-center">
                <h1 class="fw-bolder">Metodología</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="https://ff636f43e6.cbaul-cdnwnd.com/e0eef4fe6f99295f30f83e561ff2c5a0/200000438-13c5b13c5e/imagen%201%20bien.PNG?ph=ff636f43e6" class="img-fluid">
            </div>
            <div class="col-md-6 align-items-center">
                <div class="fw-lighter text-parrafo ">
                    <p class="justify">En Kiubit nos enfocamos en modelar el pensamiento formal, así que nuestros cursos están diseñados de tal manera que las lecciones sean cortas, lo que ayuda a profundizar en los contenidos de una manera más dinámica y permite que la interacción sea exitosa.</p>
                    <p class="justify">Con tan solo estudiar 15 minutos diarios en el sitio podrás mejorar tus habilidades y potenciar tus conocimientos. Nuestra plataforma incluye diverso material audiovisual gratuito y actividades con las que podrás trabajar a tu propio ritmo, y tu decidirás cuando estés listo para avanzar con cada tema, además de poder revisar el contenido las veces que quieras.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <app-testimonios></app-testimonios>
        </div>
        
    </div>
</div>
