<div class="bg-image parallax">

  <div class="mask" >
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="bg-primary p-2 rounded-5"><p class="text-white mb-0 display-1 fw-bold">APRENDE MATEMATICAS</p></div>
    </div>
  </div>
</div>

<div class="display-4 text-center text-primary fw-bolder p-5">
  <p>¿Que te gustaría aprender hoy?</p>
</div>

<div class="container">
  <div class="row mb-3">
    <div class="col-lg-3 col-md-4 col-6 mb-2 px-3 " *ngFor="let curso of cursos">
      <div class="bg-image">
        <img [src]="curso.image" [alt]="curso.titulo" class="img-fluid">
        <div class="mask d-flex align-items-end justify-content-center">
          <div class="text-white text-center fw-bold">{{curso.titulo}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-testimonios></app-testimonios>

<div class="bg-image parallax">

  <div class="mask" >
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-center">
      <div class="bg-primary p-2 rounded-5 mb-3"><p class="text-white mb-0 display-3 fw-bold">Conoce nuestro Método</p></div>
      <button type="button" class="btn btn-secondary">Da click aquí</button>
    </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="text-center">
    <div class="display-3 text-primary fw-bolder mt-5">¿Qué te ofrecemos?</div>
  </div>
  <div class="row mb-3 justify-content-center">
    <div class="col-md-3 col-6 mb-2 px-3" *ngFor="let servicio of servicios">
      <div class="text-center">
        <img [src]="servicio.imagen"
        class="img-fluid img-testimonio">
        <div class="text-center">
          <h4 class="text-primary fw-bold ">{{servicio.titulo}}</h4>
          <div class="text-center fw-lighter text-testimonio"> {{servicio.texto}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="text-center">
    <div class="display-3 text-primary fw-bolder mt-5">¿Cuáles son las ventajas de aprender con nosotros?</div>
  </div>
  <div class="row mb-3 justify-content-center">
    <img src="https://ff636f43e6.cbaul-cdnwnd.com/e0eef4fe6f99295f30f83e561ff2c5a0/200000640-e0c56e0c5a/imagen%20muchos.PNG?ph=ff636f43e6"
    class="img-fluid">
  </div>
  <div class="row mb-3 justify-content-center">
    <button type="button" class="btn btn-primary col-6 col-md-3">Entérate aquí</button>
  </div>
</div>
