<div class="row">
  <div class="col-12">
    <div class="row">
      <div routerLink="#" class="col-12">
        <div class="row">
          <div class="col-1">
            <i class="far fa-play-circle"></i>
          </div>
          <div class="col-5">
            {{tema.nombre}}
          </div>
          <div class="col-5 text-end">
            {{tema.horas}}:{{tema.minutos}}:{{tema.segundos}}
          </div>
          <div class="col-1">
            <i class="fas fa-play"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
