<div class="parent-component">
    <app-private-sidebar class="transition" ></app-private-sidebar> <!--class="  transition" [ngClass]="{' visible opacity-100':sidenavService.banderaPrivate,' invisible opacity-0':!sidenavService.banderaPrivate}"-->
    <div class="component-one">
        <router-outlet></router-outlet>
    </div>

</div>
<!--<div class="parent-component">
  <div class="fixed-component"><app-private-sidebar></app-private-sidebar></div>
  <div class="component-one"><router-outlet ></router-outlet></div>
</div>-->