<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">

        <div class="col-md-12 col-lg-5 col-xl-5 offset-xl-1">
          <form>
            <a class="navbar-brand justify-content-center p-0 m-0" href="#"><h1 class="fw-bolder">Kiubit</h1></a>

            <div class="text-center ">
                <h4 class="text-black fw-bolder">Te damos la bienvenida a Kiubit</h4>
            </div>
            <!-- Email input -->
            <mdb-form-control class="mb-4">
                <input mdbInput type="text" id="form1" class="form-control form-control-lg" />
                <label mdbLabel class="form-label" for="form1">Nombre</label>
            </mdb-form-control>
  
            <!-- Password input -->
            <mdb-form-control class="mb-4">
                <input mdbInput type="text" id="form1" class="form-control form-control-lg" />
                <label mdbLabel class="form-label" for="form1">Apelidos</label>
            </mdb-form-control>

            <mdb-form-control class="mb-4">
                <input mdbInput type="text" id="form1" class="form-control form-control-lg" />
                <label mdbLabel class="form-label" for="form1">Correo</label>
            </mdb-form-control>

            <mdb-form-control class="mb-4">
                <input mdbInput type="text" id="form1" class="form-control form-control-lg" />
                <label mdbLabel class="form-label" for="form1">Contraseña</label>
            </mdb-form-control>

            <mdb-form-control class="mb-4">
                <input mdbInput type="text" id="form1" class="form-control form-control-lg" />
                <label mdbLabel class="form-label" for="form1">Repetir Contraseña</label>
            </mdb-form-control>
  
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block">Continuar</button>
  
            <!--<div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
            </div>
  
            <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!"
              role="button">
              <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
            </a>
            <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="#!"
              role="button">
              <i class="fab fa-twitter me-2"></i>Continue with Twitter</a>-->
  
          </form>
        </div>
      </div>
    </div>
</section>