
<div class="container-fluid"  style="height: 100vh;">
<div class="row" style="position: sticky; top : 0; background-color: white; z-index: 100;">
    <div class="col-12 p-2">
        <button type="button" class="btn btn-link" (click)="regresar()">
            <i class="fas fa-arrow-left fa-2x"></i>
        </button>
    </div>
</div>

<div class="row px-5 ">
    <div class="col-8">
        <div class="row">
            <div class="col-2 text-center" style="height: 100px;">
                <img src="assets/img/kiubit.svg" class="img-fluid h-100">
            </div>
            <div class="col-6">
                <div class="row h-100">
                    <div class="col-12 h-50 fw-bolder">
                        {{detalleCurso.nombre_curso}}
                    </div>
                    <div class="col-12 h-50 d-flex align-items-end">
                        <span><i class="fas fa-list-ul"></i> {{detalleCurso.modulos}} modulos <i class="fas fa-clock"></i> {{detalleCurso.minutos}} minutos</span>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row h-100 d-flex align-items-end">
                    <div class="col-12">
                        <i class="fas fa-heart fa-2x text-primary"></i><button type="button" class="btn btn-primary btn-rounded mx-3" mdbRipple>Ir al curso</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 curso rounded-9 my-5">
                <div class="row">
                    <div class="col-12 rounded-9 rounded-bottom text-center" style="background-color: azure; height: 300px;">
                        <img src="assets/img/kiubit.svg" class="img-fluid h-100 p-5">
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-12">
                        <mdb-tabs>
                            <mdb-tab title="Descripcion del Curso">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                {{detalleCurso.descripcion}}
                            </mdb-tab>
                        </mdb-tabs>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4" >
        <div class="row" style="position: sticky; top: 60px; right: 0; height: 80vh; overflow-y: scroll;">
            <div class="col-12">
                <mdb-accordion>
                    <mdb-accordion-item>
                      <ng-template mdbAccordionItemHeader><app-modulo></app-modulo></ng-template>
                      <ng-template mdbAccordionItemBody>
                        <app-tema></app-tema>
                      </ng-template>
                    </mdb-accordion-item>

                    <mdb-accordion-item>
                      <ng-template mdbAccordionItemHeader><app-modulo></app-modulo></ng-template>
                      <ng-template mdbAccordionItemBody>
                        <app-tema></app-tema>
                      </ng-template>
                    </mdb-accordion-item>

                    <mdb-accordion-item>
                      <ng-template mdbAccordionItemHeader><app-modulo></app-modulo></ng-template>
                      <ng-template mdbAccordionItemBody>
                        <app-tema></app-tema>
                      </ng-template>
                    </mdb-accordion-item>
                    <mdb-accordion-item>
                      <ng-template mdbAccordionItemHeader><app-modulo></app-modulo></ng-template>
                      <ng-template mdbAccordionItemBody>
                        <app-tema></app-tema>
                      </ng-template>
                    </mdb-accordion-item>
                    <mdb-accordion-item>
                      <ng-template mdbAccordionItemHeader><app-modulo></app-modulo></ng-template>
                      <ng-template mdbAccordionItemBody>
                        <app-tema></app-tema>
                      </ng-template>
                    </mdb-accordion-item>
                    <mdb-accordion-item>
                      <ng-template mdbAccordionItemHeader><app-modulo></app-modulo></ng-template>
                      <ng-template mdbAccordionItemBody>
                        <app-tema></app-tema>
                      </ng-template>
                    </mdb-accordion-item>
                    <mdb-accordion-item>
                      <ng-template mdbAccordionItemHeader><app-modulo></app-modulo></ng-template>
                      <ng-template mdbAccordionItemBody>
                        <app-tema></app-tema>
                      </ng-template>
                    </mdb-accordion-item>
                    <mdb-accordion-item>
                      <ng-template mdbAccordionItemHeader><app-modulo></app-modulo></ng-template>
                      <ng-template mdbAccordionItemBody>
                        <app-tema></app-tema>
                      </ng-template>
                    </mdb-accordion-item>
                    <mdb-accordion-item>
                      <ng-template mdbAccordionItemHeader><app-modulo></app-modulo></ng-template>
                      <ng-template mdbAccordionItemBody>
                        <app-tema></app-tema>
                      </ng-template>
                    </mdb-accordion-item>
                    <mdb-accordion-item>
                      <ng-template mdbAccordionItemHeader><app-modulo></app-modulo></ng-template>
                      <ng-template mdbAccordionItemBody>
                        <app-tema></app-tema>
                      </ng-template>
                    </mdb-accordion-item>
                    <mdb-accordion-item>
                      <ng-template mdbAccordionItemHeader><app-modulo></app-modulo></ng-template>
                      <ng-template mdbAccordionItemBody>
                        <app-tema></app-tema>
                      </ng-template>
                    </mdb-accordion-item>
                    <mdb-accordion-item>
                      <ng-template mdbAccordionItemHeader><app-modulo></app-modulo></ng-template>
                      <ng-template mdbAccordionItemBody>
                        <app-tema></app-tema>
                      </ng-template>
                    </mdb-accordion-item>
                    <mdb-accordion-item>
                      <ng-template mdbAccordionItemHeader><app-modulo></app-modulo></ng-template>
                      <ng-template mdbAccordionItemBody>
                        <app-tema></app-tema>
                      </ng-template>
                    </mdb-accordion-item>
                    <mdb-accordion-item>
                      <ng-template mdbAccordionItemHeader><app-modulo></app-modulo></ng-template>
                      <ng-template mdbAccordionItemBody>
                        <app-tema></app-tema>
                      </ng-template>
                    </mdb-accordion-item>
                    <mdb-accordion-item>
                      <ng-template mdbAccordionItemHeader><app-modulo></app-modulo></ng-template>
                      <ng-template mdbAccordionItemBody>
                        <app-tema></app-tema>
                      </ng-template>
                    </mdb-accordion-item>
                    <mdb-accordion-item>
                      <ng-template mdbAccordionItemHeader><app-modulo></app-modulo></ng-template>
                      <ng-template mdbAccordionItemBody>
                        <app-tema></app-tema>
                      </ng-template>
                    </mdb-accordion-item>
                    <mdb-accordion-item>
                      <ng-template mdbAccordionItemHeader><app-modulo></app-modulo></ng-template>
                      <ng-template mdbAccordionItemBody>
                        <app-tema></app-tema>
                      </ng-template>
                    </mdb-accordion-item>
                    <mdb-accordion-item>
                      <ng-template mdbAccordionItemHeader><app-modulo></app-modulo></ng-template>
                      <ng-template mdbAccordionItemBody>
                        <app-tema></app-tema>
                      </ng-template>
                    </mdb-accordion-item>
                    <mdb-accordion-item>
                      <ng-template mdbAccordionItemHeader><app-modulo></app-modulo></ng-template>
                      <ng-template mdbAccordionItemBody>
                        <app-tema></app-tema>
                      </ng-template>
                    </mdb-accordion-item>
                    <mdb-accordion-item>
                      <ng-template mdbAccordionItemHeader><app-modulo></app-modulo></ng-template>
                      <ng-template mdbAccordionItemBody>
                        <app-tema></app-tema>
                      </ng-template>
                    </mdb-accordion-item>
                    <mdb-accordion-item>
                      <ng-template mdbAccordionItemHeader><app-modulo></app-modulo></ng-template>
                      <ng-template mdbAccordionItemBody>
                        <app-tema></app-tema>
                      </ng-template>
                    </mdb-accordion-item>
                    <mdb-accordion-item>
                      <ng-template mdbAccordionItemHeader><app-modulo></app-modulo></ng-template>
                      <ng-template mdbAccordionItemBody>
                        <app-tema></app-tema>
                      </ng-template>
                    </mdb-accordion-item>
                    <mdb-accordion-item>
                      <ng-template mdbAccordionItemHeader><app-modulo></app-modulo></ng-template>
                      <ng-template mdbAccordionItemBody>
                        <app-tema></app-tema>
                      </ng-template>
                    </mdb-accordion-item>
                    <mdb-accordion-item>
                      <ng-template mdbAccordionItemHeader><app-modulo></app-modulo></ng-template>
                      <ng-template mdbAccordionItemBody>
                        <app-tema></app-tema>
                      </ng-template>
                    </mdb-accordion-item>
                    <mdb-accordion-item>
                      <ng-template mdbAccordionItemHeader><app-modulo></app-modulo></ng-template>
                      <ng-template mdbAccordionItemBody>
                        <app-tema></app-tema>
                      </ng-template>
                    </mdb-accordion-item>
                    <mdb-accordion-item>
                      <ng-template mdbAccordionItemHeader><app-modulo></app-modulo></ng-template>
                      <ng-template mdbAccordionItemBody>
                        <app-tema></app-tema>
                      </ng-template>
                    </mdb-accordion-item>
                  </mdb-accordion>
            </div>
        </div>

    </div>
</div>
</div>
