<div class="container">
    <div class="row" style="height: 10vh;">
        <div class="col-12 text-center">
            Seccion header
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="row" style="height: 10vh;">
                <div class="col-8 text-center ">
                    Seccion titulos
                </div>
                <div class="col-4 text-center ">
                    Seccion favoritos - Iniciar curso
                </div>
            </div>
            <div class="row d-flex justify-content-center align-items-center" style="height: 40vh;">
                <div class="col-12 text-center ">
                    seccion imagen del curso
                </div>
            </div>
            <div class="row" style="height: 20vh;">
                <div class="col-12">
                    <mdb-tabs [fill]="true">
                        <mdb-tab title="Tab 1">Tab content 1</mdb-tab>
                        <mdb-tab title="Tab 2">Tab content 2</mdb-tab>
                        <mdb-tab title="Tab 3">Tab content 3</mdb-tab>
                    </mdb-tabs>
                </div>
            </div>
            <div class="row d-lg-none d-block">
                <div class="col-12 text-center">
                    Seccion contenido movil
                </div>
            </div>
        </div>
        <div class="col-4 d-lg-block d-none text-center ">Seccion Contenido escritorio</div>
    </div>
</div>