<div [ngStyle]="{'padding-top.px':navbarService.altura}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 py-3">
                <div class="card">
                    <img src="https://ff636f43e6.cbaul-cdnwnd.com/e0eef4fe6f99295f30f83e561ff2c5a0/200000684-40c4940c4c/Conoce%20tu%20curso%202.PNG?ph=ff636f43e6" class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <mdb-tabs>
                            <mdb-tab title="Tab 1">Tab content 1</mdb-tab>
                            <mdb-tab title="Tab 2">Tab content 2</mdb-tab>
                        </mdb-tabs>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    
    
</div>
