<div class="p-2">
    <button type="button" class="d-block d-md-none btn btn-link " (click)="click()">
        <i class="fas fa-bars fa-2x"></i>
    </button>
</div>
<div class="container" >
    <div class="row">
        <div class="col-md-6 col-12 pt-5">
            <h1 class="text-primary fw-bolder ">Bienvenido</h1>
        </div>
        <div class="col-md-6 col-12">

        </div>
    </div>
    <div class="row">
        <div class="col-12 ultimo_visto rounded-pill h-200">
            <div class="row h-100">
                <div class="col-3 h-100 text-center ">
                    <img src="assets/img/kiubit.svg" class="img-fluid h-100">
                </div>
                <div class="col-6 d-flex  flex-column bd-highlight">
                    <div class="row">
                        <div class="col-12 ">
                            {{ultimoVisto.nombre_curso | uppercase}}
                        </div>
                        <div class="col-12 ">
                            {{ultimoVisto.nombre_modulo | uppercase}}
                        </div>
                        <div class="col-12 ">
                            {{ultimoVisto.nombre_tema | uppercase}}
                        </div>
                    </div>
                    <div class="row mt-auto">
                        <div class="col-12 mb-4">Curso - {{ultimoVisto.duracion_tema}} min</div>
                    </div>
                </div>
                <div class="col-3 d-flex align-items-end ">
                    <div class="row">
                        <div class="col-12 mb-3 ">
                            <button type="button" class="btn btn-primary btn-rounded" mdbRipple>Continuar Lección</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="listSuscripciones.length>0">
        <div class="row pt-5">
            <h3  class="fw-bolder">Mis Cursos</h3>
        </div>
        <app-cursos [cursos]="listSuscripciones"></app-cursos>
    </div>

    <div *ngIf="listRecomendados.length>0">
        <div class="row pt-2">
            <h3  class="fw-bolder">Cursos Recomendados</h3>
        </div>
        <app-cursos [cursos]="listRecomendados"></app-cursos>
    </div>
</div>