.ultimo_visto{
    background-color: #f3f3f3;  
}

.h-200{
    height: 200px !important;
    max-height: 200px !important;
}

.h-300{
    height: 300px !important;
    max-height: 300px !important;
}

.curso{
    background-color: #f3f3f3;  
}

.img-curso{
    height: 100px;
}