<div class="container" (click)="click()">
    <div class="row">
        <div class="col-md-6 col-12 pt-5">
            <h1 class="text-primary fw-bolder ">Bienvenido</h1>
        </div>
        <div class="col-md-6 col-12">

        </div>
    </div>
    <div class="row">
        <div class="col-12 ultimo_visto rounded-pill h-200">
            <div class="row h-100">
                <div class="col-3 h-100 text-center ">
                    <img src="assets/img/kiubit.svg" class="img-fluid h-100">
                </div>
                <div class="col-6 d-flex  flex-column bd-highlight">
                    <div class="row">
                        <div class="col-12 ">
                            Titulo
                        </div>
                        <div class="col-12 ">
                            Titulo
                        </div>
                        <div class="col-12 ">
                            Titulo
                        </div>
                    </div>
                    <div class="row mt-auto">
                        <div class="col-3 mb-4">Video - 5 min</div>
                    </div>
                </div>
                <div class="col-3">

                </div>
            </div>
        </div>
    </div>
</div>