<div class="row pt-2">
    <div *ngFor="let curso of listaCursos" class="col-12 col-sm-6 col-md-4 col-lg-3 pointer" (click)="abrirCurso(curso.id_curso)">
        <div class="row h-100 p-1">
            <div class="col-12  curso rounded-9">
                <div class="row h-50 rounded-9 rounded-bottom" style="background-color: azure;">
                    <div class="col-12 text-center h-100-px">
                        <img [src]="curso.imagen" class="img-fluid img-curso">
                    </div>
                </div>
                <div class="row rounded-9 rounded-top h-50">
                    <div class="col-12 p-3">
                        {{curso.nombre_curso}}
                    </div>
                    <div class="col-12 p-3">
                        {{curso.modulos}} modulos
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>